  .hero {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
    & img {
      height: 80%;
      margin-left: -200px;
      z-index: 1;
    }
  }
  
  .hero-text {
    z-index: 2;
    width: 560px;
    height: 338px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    & p {
      font-family: Poppins;
      font-size: 50px;
      font-weight: 600;
      text-align: left;
      color: #FFFCFC;
    }
    & .text2 {
      width: 42%;
      height: 22%;
      margin-top: 0%;
    }
    & .line1 {
      display: flex;
      align-items: center;
      height: 25%;
      width: 90%;
      & .words {
        width: 200px;
        height: 100%;
        padding: 0px 2.5% 0px 0px;
        & span {
          font-family: Poppins;
          font-size: 50px;
          font-weight: 600;
          text-align: left;
          background: -webkit-linear-gradient(249.88deg, #8A32D0 8.25%, #9A95CD 93.16%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: block;
          animation: spin_words 6s infinite;
        }
        overflow: hidden;
      }
      & .text1 {
        height: 100%;
        width: 100%;
      }
    }
    & .subheading {
      width: 73%;
      height: 25%;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      color: #DBCACA;
      margin-top: -4%;
    }
    & button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: -2%;
      width: 97px;
      height: 47px;
      padding: 0px;
      border-radius: 8px;
      background-color: #7BEAE3;
      border-color: #7BEAE3;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 500;
    }
  }
  
  @keyframes spin_words{
    20%{
        transform: translateY(-112%);
    }
    45%{
        transform: translateY(-100%);
    }
    70%{
        transform: translateY(-212%);
    }
    100%{
        transform: translateY(0%);
    }
  }